<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moviemapper.MoviedetailMapper" >
  <resultMap id="BaseResultMap" type="com.moviepojo.Moviedetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="movieid" property="movieid" jdbcType="INTEGER" />
    <result column="ordernum" property="ordernum" jdbcType="INTEGER" />
    <result column="ordertime" property="ordertime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="BaseResultMap1" type="com.moviepojo.OrderList" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="movieid" property="movieid" jdbcType="INTEGER" />
    <result column="ordernum" property="ordernum" jdbcType="INTEGER" />
    <result column="ordertime" property="ordertime" jdbcType="TIMESTAMP" />
    <result column="movieTitle" property="movieTitle" jdbcType="VARCHAR" />
    <result column="musername" property="musername" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, userid, movieid, ordernum,ordertime
  </sql>
  <sql id="Base_Column_List1" >
    moviedetail.id, userid, movieid, ordernum, ordertime,musername,movie_title as movieTitle
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.moviepojo.MoviedetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from moviedetail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from moviedetail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from moviedetail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.moviepojo.MoviedetailExample" >
    delete from moviedetail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.moviepojo.Moviedetail" >
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into moviedetail (id, userid, movieid, 
      ordernum, ordertime)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{movieid,jdbcType=INTEGER}, 
      #{ordernum,jdbcType=INTEGER}, #{ordertime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.moviepojo.Moviedetail" >
    insert into moviedetail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="movieid != null" >
        movieid,
      </if>
      <if test="ordernum != null" >
        ordernum,
      </if>
      <if test="ordertime != null" >
        ordertime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="movieid != null" >
        #{movieid,jdbcType=INTEGER},
      </if>
      <if test="ordernum != null" >
        #{ordernum,jdbcType=INTEGER},
      </if>
      <if test="ordertime != null" >
        #{ordertime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.moviepojo.MoviedetailExample" resultType="java.lang.Integer" >
    select count(*) from moviedetail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update moviedetail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.movieid != null" >
        movieid = #{record.movieid,jdbcType=INTEGER},
      </if>
      <if test="record.ordernum != null" >
        ordernum = #{record.ordernum,jdbcType=INTEGER},
      </if>
      <if test="record.ordertime != null" >
        ordertime = #{record.ordertime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update moviedetail
    set id = #{record.id,jdbcType=INTEGER},
      userid = #{record.userid,jdbcType=INTEGER},
      movieid = #{record.movieid,jdbcType=INTEGER},
      ordernum = #{record.ordernum,jdbcType=INTEGER},
      ordertime = #{record.ordertime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.moviepojo.Moviedetail" >
    update moviedetail
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="movieid != null" >
        movieid = #{movieid,jdbcType=INTEGER},
      </if>
      <if test="ordernum != null" >
        ordernum = #{ordernum,jdbcType=INTEGER},
      </if>
      <if test="ordertime != null" >
        ordertime = #{ordertime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.moviepojo.Moviedetail" >
    update moviedetail
    set userid = #{userid,jdbcType=INTEGER},
      movieid = #{movieid,jdbcType=INTEGER},
      ordernum = #{ordernum,jdbcType=INTEGER},
      ordertime = #{ordertime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getOrderAllList" resultMap="BaseResultMap1">
    select
    <include refid="Base_Column_List1" />
    from moviedetail,movie,movieuser
    where movie.id = moviedetail.movieid and movieuser.id=moviedetail.userid
  </select>

  <select id="getOrderListByMovieid" resultMap="BaseResultMap1" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List1" />
    from moviedetail,movie,movieuser
    where movie.id = moviedetail.movieid and movieuser.id=moviedetail.userid AND moviedetail.movieid =#{movieid}
  </select>
  <select id="getInfoByPrimaryKey" resultMap="BaseResultMap1" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List1" />
    from moviedetail,movie,movieuser
    where movie.id = moviedetail.movieid and movieuser.id=moviedetail.userid AND moviedetail.id =#{id}
  </select>
  <select id="searchOrderInfoByUsername" parameterType="java.lang.String" resultMap="BaseResultMap1" >
    select
    <include refid="Base_Column_List1" />
    from moviedetail,movie,movieuser
    where movie.id = moviedetail.movieid and movieuser.id=moviedetail.userid and instr(musername,#{musername,jdbcType=VARCHAR}) limit 7
  </select>
  <select id="getOrderCountByMoviedAndUserid" parameterType="com.moviepojo.OrderMovieList" resultType="java.lang.Integer" >
    select
    COUNT(id)
    from moviedetail
    where userid=#{userid,jdbcType=INTEGER} and movieid=#{movieid,jdbcType=INTEGER}
  </select>
</mapper>